<!--PIPES 
<app-pipetest></app-pipetest>-->

<!-- SERVICES: LOCAL AND WEB
<app-service2></app-service2> -->

<!--PROPERTY BINDING
    <app-artlist [data]="articles"></app-artlist>
-->
<!--CREATING AND IMPORTING MODULES
    <app-dice value="3"></app-dice>
-->
<!--SENDING A JSON REQUEST
    <app-request></app-request>
-->
<!--ROUTER: ROUTES DEFINITION
<div>
  <a routerLink="/artlist">Articles List</a>
  <a routerLink="/request">Articles List</a>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
-->
